body {
  background-color: #000; }

video {
  display: flex;
  width: 100%;
  height: calc(100% - 80px); }

main {
  margin: 0 !important;
  width: 100%;
  height: 80px;
  border-radius: 0 !important; }

.smp--container {
  position: relative;
  width: 4rem; }

.smp--container .ui.progress {
  margin: 0; }

.smp--container .ui.progress .bar {
  height: 2.178571428571429rem;
  min-width: 0; }

.smp--container .ui.progress:after {
  content: attr(data-percent) "%";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold; }

.smp--right {
  margin-left: auto !important; }
